/* /styles/cursors.css */

body {
    cursor: url("../cursors/nordzy-default-32x.cur"), auto;
}

button:hover,
a:hover {
    cursor: url("../cursors/nordzy-pointer-32x.cur"), pointer;
}

.mona-cursor {
    cursor: url("../cursors/mona-default-32x.cur"), auto;
}

.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), grabbing;
}

.bugdroid-cursor {
    cursor: url("../cursors/bugdroid-default-32x.cur"), auto;
}

.bugdroid-cursor.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), grabbing;
}

.chrome-cursor {
    cursor: url("../cursors/chrome-default-32x.cur"), auto;
}

.chrome-cursor.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), grabbing;
}

.tux-cursor {
    cursor: url("../cursors/tux-default-32x.cur"), auto;
}

.tux-cursor.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), grabbing;
}

.devil-pointer {
    cursor: url("../cursors/devil-pointer-48x.cur"), auto;
}

.concept-cursor {
    cursor: url("../cursors/concept-default-32x.cur"), auto;
}

.tech-item {
    cursor: url("../cursors/nordzy-openhand-32x.cur"), grab;
}

.tech-item.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), grabbing;
}

