/* /styles/cursors.css */

body {
    cursor: url("../cursors/nordzy-default-32x.cur"), auto;
}

button:hover,
a:hover {
    cursor: url("../cursors/nordzy-pointer-32x.cur"), pointer;
}

.dragging {
    cursor: url("../cursors/nordzy-move-32x.cur"), move;
}

.private-project,
.disclaimer {
    cursor: url("../cursors/devil-pointer-48x.cur"), pointer;
}

.tech-item {
    cursor: url("../cursors/nordzy-openhand-32x.cur"), grab;
}

